<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 greg. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="Greg_calc" frontName="Greg_calc">
            <module name="Greg_calc" before="Greg_calc" />
        </route>
    </router>
</config>